.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: darkslategrey;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
  list-style-type: none;
}

.left-nav p {
  font-size: 1.1rem;
  font-weight: bold;
}

.right-nav ul {
  display: flex;
  align-items: center;
}

.right-nav li {
  padding-left: 40px;
}

.right-nav li:hover {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.link {
  color: #fff;
  text-decoration: none;
}
.link:hover {
  color: red;
}
