@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Gowun+Dodum&family=Open+Sans+Condensed:wght@300&family=Playfair+Display+SC&family=Raleway:wght@300&display=swap");
body {
  margin: 0;
  font-family: "Cinzel", serif;
  font-family: "Gowun Dodum", sans-serif;
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Playfair Display SC", serif;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkslategrey;
}

code {
 
}
